# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod
*.smod

# Executables
*.out

*/ext/**
/ext/
*/data/**
/data/
*/out/**
/out/
scadyn
*/bin/**
/bin/
*/Geometries/**
/Geometries/
*/T/**
/T/
*.pyc*
*.h5
*.in

